/* colors
#c5c3c3
#001f3f
#D3D3D3
#155EBC

/* font */
/* arial
comfortaa
calibri */ 
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

body{
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background-color: #001F3F;
    color:#c5c3c3 ;
}

a{
    text-decoration: none;
}

.main-link{
    font-weight: bold;
    color:#c5c3c3 ;
}

.nav-link{
font-family: "Comfortaa",serif; 
font-size: 15px;

color:#c5c3c3 ;
}

.carousel-caption{
background-color: #001F3F;
opacity: 65%;
color: #C5C3C3;
}


.card-text{
font-family: Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
font-size: 16px;
}

.btn-primary{
background-color: #155EBC;
}

.modal-content{
    background-color:#001f3f;
    color: #C5C3C3;
}